

<!-- desktop-->
<div class="desktop-jobs">
  <h1 class="completed-desktop">Completed Jobs.</h1>
  <div class="row justify-content-around p-3">
    <% @services.each do |service| %>
      <div class="card card-main" data-aos="fade-up">
        <% if service.images.attached? %>
          <% service.images.each_with_index do |image, index| %>
            <% if index == 0 %>
              <% if image.persisted? %>
                <%= image_tag(image.variant(resize: '300x300')) %>
                <p class="text-position"><%= link_to service.name, service_path(service) %></p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
       </div>
    <% end %>
  </div>
</div>

<!-- mobile takes service then loops through and for each service it adds an image to it-->
<div class="mobile-jobs"> <h1 class="completed-mobile">Completed Jobs.</h1>
  <div class="row justify-content-around p-3">
    <% @services.each do |service| %>
      <div class="card card-main-mobile" data-aos="fade-up">
        <% if service.images.attached? %>
          <% service.images.each_with_index do |image, index| %>
            <% if index == 0 %>
              <% if image.persisted? %>
                <%= image_tag(image.variant(resize: '300x300')) %>
                  <p class="text-position-mobile"><%= link_to service.name, service_path(service) %></p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



