

  <div class="section1 center">
    <div class="section1a">
      <h1>About Us.</h1>
      <i class="fas fa-grip-lines green">====</i>
      <p>We are a professional Carpet cleaning company that operates in the Leicestershire Region. </p>
      <p>Specialising in Carpet, Upholstery, hard floors, blinds and curtain cleaning fully insured, DBS Checked with 12 years plus experience.</p>
    </div>
    <div class="section1b">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71A5D8rNfCL._SL1500_.jpg" >
    </div>
    <div class="arrow bounce"></div>
  </div>

  <div class="section2-about center">
    <div class="section1b">
      <img src="https://previews.123rf.com/images/andreypopov/andreypopov1509/andreypopov150900210/44713298-happy-male-janitor-cleaning-carpet-with-vacuum-cleaner.jpg" >
    </div>
    <div class="section1a">
      <h1>Services we offer.</h1>
      <i class="fas fa-grip-lines green">====</i>
      <ul>
        <li>- Carpet cleaning</li>
        <li>- Rug cleaning</li>
        <li>- Stain removal</li>
        <li>- Amtico and Karndean maintenance</li>
        <li>- Hard Floor Maintence</li>
        <li>- Curtains and blinds cleaning.</li>
      </ul>
    </div>
  </div>
  <div class="section3 center">
    <div class="section1a">
      <h1>The Team.</h1>
      <i class="fas fa-grip-lines green">====</i>
      <p>We are a professional Carpet cleaning company that operates in the Leicestershire Region. </p>
      <p>Specialising in Carpet, Upholstery, hard floors, blinds and curtain cleaning fully insured, DBS Checked with 12 years plus experience.</p>
    </div>
    <div class="section1b">
      <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/32256612_10155155633862024_3467137324930826240_n.jpg?_nc_cat=108&_nc_ht=scontent-lhr3-1.xx&oh=8006db7a078d26d2939ede2e379f7f57&oe=5D9A81CD"" >
    </div>
  </div>

   <div class="divider center">
    <p> Got an emergency? Call 07931358885 now.</p>
    </div>

