
<!--//tablet-->

<div class="background-about-tablet">
  <div class="white-bg-about-tablet">

    <h3>About.</h3>
    <div class="dash"> - </div>
    <h6>Who are we?</h6>

    <p class="about-text-tablet">We are a professional Carpet cleaning company that operates in the Leicestershire Region. Specialising in Carpet, Upholstery, hard floors, blinds and curtain cleaning fully insured, DBS Checked with 12 years plus experience.</p>
    <div class="dash"> - </div>
    <h6>What Services do we provide?</h6>

   <ul>
     <li>- Carpet cleaning</li>
     <li>- Rug cleaning</li>
     <li>- Stain removal</li>
     <li>- Amtico and Karndean maintenance</li>
     <li>- Hard Floor Maintence</li>
     <li>- Curtains and blinds cleaning.</li>
    </ul>


  </div>
   <div class="white-bg-ceo">
    <h3 class="ceo-tablet">CEO.</h3>
     <div class="dash"> - </div>
      <p class="about-text-tablet">Clinton has been cleaning carpets for xx years. He knows his stuff.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</p>
       <div class="clinton-image-tablet"><img  src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/32256612_10155155633862024_3467137324930826240_n.jpg?_nc_cat=108&_nc_ht=scontent-lhr3-1.xx&oh=8006db7a078d26d2939ede2e379f7f57&oe=5D9A81CD" /></div>
    </div>

  <h3 class="completed-jobs-heading-tablet">Browse Completed Jobs.</h3>
  <div class="dash"> - </div>
  <div class="box-holder-tablet">







    <div class="test">
      <div class="box">
        </div>
        <div class="card-about-tablet">
          <h6>Carpet Cleaning</h6>
            <p>hello world this is text w.</p>
        </div>
    </div>


    <div class="test">
      <div class="box">
      </div>
      <div class="card-about-tablet">
        <h6>Carpet Cleaning</h6>
        <p>hello world this is text w.</p>
      </div>
    </div>

    <div class="test">
      <div class="box">
      </div>
      <div class="card-about-tablet">
        <h6>Carpet Cleaning</h6>
        <p>hello world this is text w.</p>
      </div>
    </div>


    <div class="test">
      <div class="box">
      </div>
      <div class="card-about-tablet">
        <h6>Carpet Cleaning</h6>
        <p>hello world this is text w.</p>
      </div>
    </div>




    </div>
  </div>


   <div class="divider-tablet">
    <p> Got an emergency? Call 012938293 now.</p>

    </div>
</div>

<!--//mobile -->

<div class="background-about-mobile">
  <div class="white-bg-about">

    <h3>About.</h3>
    <div class="dash"> - </div>
    <h6>Who are we?</h6>

    <p class="about-text-mobile">We are a professional Carpet cleaning company that operates in the Leicestershire Region. Specialising in Carpet, Upholstery, hard floors, blinds and curtain cleaning fully insured, DBS Checked with 12 years plus experience.</p>
    <div class="dash"> - </div>
    <h6>What Services do we provide?</h6>

   <ul>
     <li>- Carpet cleaning</li>
     <li>- Rug cleaning</li>
     <li>- Stain removal</li>
     <li>- Amtico and Karndean maintenance</li>
     <li>- Hard Floor Maintence</li>
     <li>- Curtains and blinds cleaning.</li>
    </ul>


  </div>
   <div class="white-bg-ceo">
    <h3 class="ceo-mobile">CEO.</h3>
     <div class="dash"> - </div>
      <p class="about-text-mobile">Clinton has been cleaning carpets for xx years. He knows his stuff.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</p>
       <div class="clinton-image-mobile"><img  src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/32256612_10155155633862024_3467137324930826240_n.jpg?_nc_cat=108&_nc_ht=scontent-lhr3-1.xx&oh=8006db7a078d26d2939ede2e379f7f57&oe=5D9A81CD" /></div>
    </div>

  <h3 class="completed-jobs-heading-mobile">Browse Completed Jobs.</h3>
  <div class="dash"> - </div>
  <div class="box-holder">
    <div class="box">
    </div>
    <div class="card-about-mobile">
      <h6>Carpet Cleaning</h6>
        <p>hello world this is text w.</p>
    </div>
    <div class="box">
    </div>
    <div class="card-about-mobile">
      <h6>Rug Cleaning</h6>
         <p>hello world this is text w.</p>
    </div>
      <div class="box">
      </div>
      <div class="card-about-mobile">
        <h6>Karndean Cleaning</h6>
        <p>hello world this is text w.</p>
      </div>
      <div class="box">
      </div>
       <div class="card-about-mobile">
        <h6>Karndean Cleaning</h6>
        <p>hello world this is text w.</p>
      </div>
      <div class="box">
      </div>
       <div class="card-about-mobile">
        <h6>Karndean Cleaning</h6>
        <p>hello world this is text w.</p>
      </div>
  </div>
   <div class="dash"> - </div>

   <div class="divider-mobile">
    <p> Got an emergency? Call 012938293 now.</p>

    </div>
</div>

