<h1 class="contact">Contact.</h1>
<div class="background-contact">
  <div class="background-contact-inner">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p><b>Contact Info:</b></p>
          <div class="flex-box">
            <span><i class="fas fa-at icon"></i> info@cbcarpetcleaningservices.com</span>
            <span class="phone"><i class="fas fa-phone icon"></i> 0161 259 8693</span>
            <span><i class="fab fa-facebook-f icon"></i> cbcarpetcleaningservice</span>
          </div>
      </div>
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p><b> Send a message</b>
          <p>If you need urgent help please call us using the number supplied on this page. Otherwise please fill in the form below where a member of the team will respond within 24 hours.</p>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Name:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="John Doe@gmail.com">
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Message:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your message here">
          </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!--
        <ul>
          <li>
            <i class="fas fa-at icon"></i>cbcarpetcleaningservices.com</li>
          <li>
            <i class="fas fa-phone icon"></i>Call me on 0161 259 8693</li>

          <li><i class="fab fa-facebook-f icon"></i>Facebook</li>
        </ul> -->
