
  <!--  banner-->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnsof9xnr/image/upload/v1557901242/images_3.jpg);">
  <div class="container">
    <h1>CB <strong>Carpet</strong> Cleaning <strong>Services.</strong></h1>
    <p>*Fully DBS checked with 12 years experience</p>
    <!-- <a class="btn btn-flat" href="#">See more</a> -->
  </div>
</div>


<div class="d-flex info-block">
  <i class="fas fa-info-circle"></i>
  <i class="fas fa-info-circle"></i>
  <i class="fas fa-info-circle"></i>
  <i class="fas fa-info-circle"></i>
</div>



<br>
<br>

  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 test">
      <div class="label-box">
        <h1 class="label"><a href="www.google.com">test</a></h1>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 stain">
      <h1 class="label"><a href="www.google.com">test</a></h1>

    </div>
  </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 rug">
      <h1 class="label"><a href="www.google.com">test</a></h1>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 curtain">
      <h1 class="label"><a href="www.google.com">test</a></h1>

    </div>
  </div>

   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 karndean">
      <h1 class="label"><a href="www.google.com">test</a></h1>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wood">
      <h1 class="label"><a href="www.google.com">test</a></h1>

    </div>
  </div>



</div>











<!-- <div class="cards">
  <div class="card">
  </div>
   <div class="card">
  </div>
   <div class="card">
  </div>
   <div class="card">
  </div>
  <div class="card">
  </div>
  <div class="card">
  </div>
</div>
 -->
