
  <!--  banner-->
<div class="centered1">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnsof9xnr/image/upload/v1557901242/images_3.jpg);">
  <div class="container">
     <img src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1559767481/WhatsApp_Image_2019-05-01_at_15.53.05.jpg" class="certified">
    <h1>CB <strong>Carpet</strong> Cleaning <strong>Services.</strong></h1>
    <p class="tag-line-home">*Fully xxx checked with 12 years experience</p>
  </div>
</div>
<a class="btn-medium centered2" href="mailto:name@email.com">Get a quote now</a>
</div>

<div class="emergency">
  <p> Got an emergency? Call 0161 3556786 now</p>
</div>


<h2>Our Serivces</h2>
<div class="container">
  <div class="card-product">
    <img src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1558040290/images_4.jpg">
    <div class="card-product-infos">
      <h2>Carpet Cleaning</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1558040294/14636776b5ad0016775cfd32cacd61a8.jpg">
    <div class="card-product-infos">
      <h2>Curtains & Blinds</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1558040297/ca-pietra-cement-encaustic-salisbury-pattern-tile-p3427-62969_image.jpg">
    <div class="card-product-infos">
      <h2>Kardean & Amtico</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://i1.adis.ws/i/dm/30360178.jpg?$deskpdpmain$&img404=noimagedefault">
    <div class="card-product-infos">
      <h2>Rug Cleaning</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1558043148/58625931_1259911844176433_4676539998827184128_n_1.jpg">
    <div class="card-product-infos">
      <h2>Stain Removal</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
<br>
<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnsof9xnr/image/upload/v1559773423/stock-photo-textured-texture-carpet-background-textures-rugs-carpets-surfaces-texture-background-9cc86464-0d72-4d12-88fc-1bfe752fa11e.jpg);">
  <div class="container banner2-text">
    <h2>CB Carpet Cleaning Solutions - Leicesters answer to clean carpets</h2>
    <h3>Call us now free for a quote on 0161 345 658 or </h3>
    <div class="email"><a href="mailto:name@email.com" class="btn-treehouse">Get a quote</a></div>
  </div>
</div>
<br>


<h2><%= link_to 'Before & After image gallery', services_path %></h2>


<div class="container">
<div id="carouselExampleSlidesOnly" class="carousel slide height" data-ride="carousel">
  <div class="carousel-inner height">
    <div class="carousel-item height active">
      <img class="d-block w-100" src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1558043148/58625931_1259911844176433_4676539998827184128_n_1.jpg" alt="First slide">
    </div>
    <div class="carousel-item height">
      <img class="d-block w-100" src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1559826672/58769340_2220190394725598_8816088964009033728_n.jpg" alt="Second slide">
    </div>
    <div class="carousel-item height">
      <img class="d-block w-100" src="https://res.cloudinary.com/dnsof9xnr/image/upload/v1559826871/58373688_811953895844880_6811844274921930752_n.jpg" alt="Third slide">
    </div>
  </div>
</div>
</div>

<br>
<br>

<h2>Why choose us? </h2>

<div class="container">
<div class="d-flex info-block">
  <div class="info-block-icon">
    <i class="fas fa-clipboard-check"></i>
    <h6> 20 years experience</h6>
   <p> Experienced carpet cleaners<br>
   with over 20 years experience. </p>
  </div>



  <div class="info-block-icon">
    <i class="fas fa-info-circle"></i>
    <h6> Available 9am - 5pm</h6>
   <p> Quick replies and guaranteed great<br>
   service.</p>
  </div>
  <div class="info-block-icon">
    <i class="far fa-smile"></i>
    <h6>Great Reviews</h6>
   <p> Customers love our service <br>
   see for yourself</p>
  </div>
  <div class="info-block-icon">
    <i class="fas fa-certificate"></i>
    <h6> Certfied & Trusted</h6>
   <p>Fully qualified and xxx tested.</p>
  </div>
</div>
</div>


<div class="reviews">
  <div class="testimonials1">
    <h2> What our customers say:</h2>
  </div>

  <div class="testimonials2">
    <h2>Testimonials:</h2>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide height" data-ride="carousel">
    <div class="carousel-inner height">
      <div class="carousel-item height active">
        <blockquote>
          <p>"Great Service and quick results. Will use again." </p>
          <footer>Shelly <cite title="Source Title">Leicester,UK </cite></footer>
        </blockquote>
      </div>
      <div class="carousel-item height">
         <blockquote>
          <p>"Great Service and quick results. Will use again." </p>
          <footer>Shelly <cite title="Source Title">Leicester,UK </cite></footer>
        </blockquote>
      </div>
      <div class="carousel-item height">
         <blockquote>
          <p>"Great Service and quick results. Will use again." </p>
          <footer>Shelly <cite title="Source Title">Leicester,UK </cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>

</div>











