<!-- app/views/home/index.html.erb -->
<div class="bg-contact">
  <div class="container">
    <h1 id="contact-us-title">Contact Us</h1>
        <div class="row">
          <div class="col-sm">
          <i>Drop us an email</i>
          <p>===</p>
          <p>If you need urgent help please call us using the number supplied on this page. Otherwise please fill in the form below where a member of the team will respond within 24 hours.</p>
         </div>
         <div class="col-sm">
          <div id="contact" class="form-desktop" data-aos="zoom-in">
            <%= render 'contact_form' %>
          </div>
        </div>
      </div>

      <div>
          <%= link_to 'Back to completed jobs', services_path %>
      <div>
      <div class="divider">
          <p> Got an emergency? Call 07931358885 now.</p>
      </div>
      </div>
    </div>
  </div>
</div>


<div id="sidebar" data-aos="fade-right">

      <ul>
        <li><a href="mailto:cbcarpetcleaningservices.uk<"><i class="fas fa-at icon"> </i> </a></li>
        <li><a href="www.google.com"><i class="phone"><i class="fas fa-phone icon"></i></a></li>
        <li><a href="www.google.com"><i class="fab fa-facebook-f icon"></i></a></li>
      <ul>

  </div>
