
<!-- app/views/home/index.html.erb -->
<div class="bg-contact">
  <div class="container">
    <h1 id="contact-us-title">Contact Us</h1>
        <div class="row">
          <div class="col-sm">
            <h6>Drop us a note</h6>
              <i class="fas fa-grip-lines green"></i>
              <i class="fas fa-grip-lines green"></i>
              <i class="fas fa-grip-lines green"></i>
            <p>If you need urgent help please call us using the number supplied on this page. Otherwise please fill in the form below where a member of the team will respond within 24 hours. Alternatively you can contact us via FB, Phone or Email</p>
            <div id="social-icons-dt">

                <a href="mailto:cbcarpetcleaningservices.uk<"><i class="fas fa-at icon"> </i> </a>
                <a href="www.google.com"><i class="phone"><i class="fas fa-phone icon"></i></a>
                <a href="www.google.com"><i class="fab fa-facebook-f icon"></i></a>

            </div>
          </div>
          <div class="col-sm">
          <div id="contact" class="form-desktop" data-aos="zoom-in">
            <%= render 'contact_form' %>
          </div>
        </div>
      </div>
  </div>
 <!--  <div>
   <%= link_to 'Back to completed jobs', services_path %>
 </div> -->
  <div class="divider">
    <p> Got an emergency? Call 07931358885 now.</p>
  </div>
</div>


