
<div class="footer">
  <div class="address">
    <i class="fas fa-map-marker"></i>
    <h5> Address</h5>
    <p>16 fairfield avenue manchester</p>
  </div>
  <div class="callus">
    <i class="fas fa-mobile-alt"></i>
    <h5>Phone</h5>
    <p>0161 255 5825</p>
  </div>
  <div class="e-mail">
    <i class="far fa-envelope-open"></i>
    <h5>e-mail</h5>
    <p>clinton@clinton.com</p>
  </div>
  <div class="hours">
    <i class="far fa-clock"></i>
    <h5>Opening hours</h5>
    <p>9am-5pm daily</p>
  </div>
 </div>




   <div class="footer-links">
    <div>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div>
     <p class="cite"> Designed and developed by Angela Inniss</p>
    </div>
  </div>
