
/* .background-about {
  background-color: red;
  height: 100vh;
  margin: 80px;
  box-shadow: 10px 10px 10px 10px;
  margin: 30px;
} */

.about-box-overlap {
  background-color: green;
  height: 50%;
  width:50%;
  /* margin: 80px; */
  box-shadow: 10px 10px 10px 10px;
  margin: 30px;
  position:absolute;
  left: 50%;
}


.about {
  z-index: 1;
  position: absolute;
  top: 90px;
  font-size: 3.5rem;
  font-family: fantasy;
  left: 47px;
}


.background-about {
      background-color: white;
    height: 115vh;
    /* margin: 80px; */
    box-shadow: 10px 10px 10px 10px;
    margin: 20px 54px;
   /*  display:flex; */
  }

.test2 {
      background-color: white;
    box-shadow: 10px 10px 10px 10px;
    position: absolute;
    left: 61%;
    height: 80%;
    width: -11%;
    width: 38%;
    top: 30%;
}

.row {

}

.avatar-large {
  width: 166px;
  border-radius: 50%;
}

#clinton-img  {
  text-align:center !important;
}

ul {
  list-style:none;
}

