// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* body {
  background-image: url("https://res.cloudinary.com/dnsof9xnr/image/upload/v1558771814/reform-foss-ecotrust-076265048-vn-sq.jpg")!important;
}
 */

/*(large  desktops, 600px and up) */
@media only screen and (min-width: 600px) {
a {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
  text-align: right;
}

/* line 13, /home/angela_ubuntu/code/Angela-Inniss/CB/node_modules/bootstrap/scss/mixins/_hover.scss */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.completed-desktop  {
  font-size: 50px;
  margin:20px;
  padding: 121px 20px 20px;

}

.card-main {
  width:500px;
  height:500px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  margin:20px;
}


.text-position {
     position: absolute;
    bottom: -4px;
    right: 10px;
    font-weight: lighter;
    background: #feca1d;
    width: auto;
}

/* see-more {
  height: 15%;
  background-color: gray;
  position: relative;
  top: -13%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.see-more p  a {
  margin-left:180px;
  text-decoration:none;
}

.see-more:hover p  a {
  margin-left:180px;
  text-decoration:none;
  background-color:#56b774;
} */


.card {
  border: 0.5px solid rgba(0, 0, 0, 0.125);
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.row {
  height:100%;
}

.background {
  background-color: white;

}

.category {
  height: 50px;
  width: 71px;
  background-color: black;
  position: absolute;
  top: -27px;
  left: -21px;
}

.category-tag {
  color: white;
  font-size: 10px;
  padding: 5px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}

.btn-light {
  color: #212529;
  background-color: black !important;
  border-color: black !important;
}

#filter-btn {
  color:white;
  border-radius: 15px;
}

#new_service {
  height:100%;
}
.mobile-jobs {
  display:none;
}
}

/* Extra small devices (phones, 600px and down) */
// small mobile


@media only screen and (max-width: 600px) {
 .completed-mobile {
    z-index: 1;
    position: absolute;
    font-family: fantasy;
    font-size: 1.5rem;
    left: 87px;
}
.card-main-mobile {
    background-size: cover;
    background-position: center;
    /* height: 300px; */
    /* border-radius: 1px; */
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 22px;
    /* width: auto; */
    margin: 10px;

}
.card {
  border: 0.5px solid rgba(0, 0, 0, 0.125);
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text-position-mobile {
     position: absolute;
    bottom: -4px;
    right: 10px;
    font-weight: lighter;
    background: #feca1d;
    width: auto;
}
.desktop-jobs{
  display:none;
}

}

