// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* body {
  background-image: url("https://res.cloudinary.com/dnsof9xnr/image/upload/v1558771814/reform-foss-ecotrust-076265048-vn-sq.jpg")!important;
}
 */
a {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
  text-align: right;
}

/* line 13, /home/angela_ubuntu/code/Angela-Inniss/CB/node_modules/bootstrap/scss/mixins/_hover.scss */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.completed  {
  z-index: 1;
  position: absolute;
  font-family: fantasy;
  margin:72px;
  top: 37px;
  font-size: 4.5rem;
  left: -55px;
}

.card-main {
  width:300px;
  height:300px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  margin:20px;
}



.see-more {
  height: 15%;
  background-color: gray;
  position: relative;
 /*  top: -13%; */
}

.see-more p  a {
  margin-left:180px;
  text-decoration:none;
}

.see-more:hover p  a {
  margin-left:180px;
  text-decoration:none;
  background-color:#56b774;
}


.card {
  border: 0.5px solid rgba(0, 0, 0, 0.125);
}

.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.row {
  height:100%;
}

.background {
  background-color: white;
  margin: 72px;
}

.category {
  height: 50px;
  width: 71px;
  background-color: black;
  position: absolute;
  top: -27px;
  left: -21px;
}

.category-tag {
  color: white;
  font-size: 10px;
  padding: 5px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}

.btn-light {
  color: #212529;
  background-color: black !important;
  border-color: black !important;
}

#filter-btn {
  color:white;
  border-radius: 15px;
}

#new_service {
  height:100%;
}



/* height: 30px;
    font-size: 13px;
    font-weight: 700;
    width: 100px;
    border-radius: 0;
    display: block;
    border: 2px solid #fff;
    box-sizing: border-box;
    line-height: 26px;
    text-decoration: none;
    color: #fff;
    margin: 9px 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .8s ease; */
