/* .background-show {
  background: white;
  box-shadow: 10px 10px 10px 10px;
  margin-top:60px;
  margin-bottom:30px;
}

iframe {
  margin-top:10px;
}

#show-header {
  z-index: 1;
  position: absolute;
  top: 107px;
  font-size: 3.5rem;
  font-family: fantasy;
  left: 31px;
}

.flex {
  display:flex;
}

p {
  display:flex;
  align-items:center;
}

.image {
  padding:15px;
}

.paragraph {
  padding:15px;
}



// new show page like bnq

.background-show-2 {
  height: 100vh;
  background-color: lightgray
}

.test-flex {
  display:flex;
  justify-content:space-around;
  padding:20px;
}
*/
.padding-js {

  background-image:url(https://images.unsplash.com/photo-1484764324099-8500512327a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}

/* simg {
  height:200px;
  width:200px;
} */









.background-show-2 {

    background-color: lightgray;
    padding: 50px 0px 50px 0px;
}

.breadcrumb {
    letter-spacing: 1px;
}




iframe {
    padding:20px;
    height: 400px !important;
    width: 100% !important;
}

.breadcrumb {
  justify-content:center;
}


.card-image-show {
  width:100%;
  height:80%;
}

.carousel-indicators {
  position:relative !important;
  li {
    width:50px !important;
    height:40px !important;
    margin-right: 6px !important;
    margin-left: 6px !important;
  }
}
