.background-show {
  background: white;
  box-shadow: 10px 10px 10px 10px;
  margin-top:60px;
  margin-bottom:30px;
}

iframe {
  margin-top:10px;
}

#show-header {
  z-index: 1;
  position: absolute;
  top: 107px;
  font-size: 3.5rem;
  font-family: fantasy;
  left: 31px;
}

.flex {
  display:flex;
}

p {
  display:flex;
  align-items:center;
}

.image {
  padding:15px;
}

.paragraph {
  padding:15px;
}



// new show page like bnq

.background-show-2 {
  height: 100vh;
  background-color: lightgray
}

.test-flex {
  display:flex;
  justify-content:space-around;
  padding:20px;
}
